# Various Altium files
*.PrjPCBStructure
*.SchDocPreview
*.PcbDocPreview
__Previews
*.PrjPcbStructure
*.PcbStructure
*.PrjMbdStructure
*.Dat
*.REP 
*.TLT
*.LOG
*.log
*.htm
*.html
*.$$$
*.xsls
*.xlsx
*.step
*.Annotation


#useless dirs
Docs
Project\ Outputs
Project\ Logs
Project\ Docs
Project Outputs for*
History
mechanic
Mechanic



